*.o
*.a
ocropus-0.2.tar.gz
ocropus/%test_image.png
ocropus/%test_image.ppm
ocropus/config.log
ocropus/config.status
ocropus/ext/tolua++/tolua++
ocropus/imgio/test-jpgpng
ocropus/imgio/test-pbmpng
ocropus/imglib/test-imgbrushfire
ocropus/imglib/test-imglabels
ocropus/imglib/test-imgmap
ocropus/imglib/test-imgmisc
ocropus/ocr-binarize/ocr-binarize-otsu
ocropus/ocr-binarize/ocr-binarize-sauvola
ocropus/ocr-bpnet/apply-classmap
ocropus/ocr-bpnet/build-classmap
ocropus/ocr-bpnet/feature-extractor-main
ocropus/ocr-bpnet/ocr-train-bpnet
ocropus/ocr-bpnet/train-from-lines
ocropus/ocr-bpnet/train-from-lines-bpnet
ocropus/ocr-bpnet/train-from-lines-bpnetmixtures
ocropus/ocr-bpnet/train-from-lines-mixtures
ocropus/ocr-deskew-rast/ocr-deskew-rast
ocropus/ocr-doc-clean/ocr-doc-clean
ocropus/ocr-layout-rast/ocr-layout-rast
ocropus/ocr-pageseg/ocr-pageseg-xycut
ocropus/ocr-pageseg/ocr-text-image-seg
ocropus/ocr-samples/test-nearestneighbor
ocropus/ocroscript/graphics.cc
ocropus/ocroscript/image.cc
ocropus/ocroscript/imgbitscmds.cc
ocropus/ocroscript/imgrlecmds.cc
ocropus/ocroscript/narray.cc
ocropus/ocroscript/nustring.cc
ocropus/ocroscript/ocr.cc
ocropus/ocroscript/ocroscript
ocropus/ocroscript/ocroscript-simple
ocropus/ocroscript/ocroscript-simple.o
ocropus/ocroscript/ocroscript.o
ocropus/ocroscript/sysutil.cc
ocropus/ocroscript/tess.cc
ocropus/ocroscript/version.cc
ocropus/svn_info
ocropus/Jamrules
pdftohtml-0.36.tar.gz
pdftohtml/pdftohtml
